<mat-card style="margin: 5px;">
    <mat-card-header>
        <mat-card-title>Level: {{level}}</mat-card-title>
        <mat-card-subtitle>Stat: woba</mat-card-subtitle>
        <mat-form-field style="margin-left: 50px;">
            <mat-label>Minimum ABs</mat-label>
            <mat-select (selectionChange)="filterABs()" [(value)]="minABs">
              <mat-option>None</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="50">50</mat-option>
              <mat-option value="100">100</mat-option>
              <mat-option value="200">200</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card-header>
    <mat-card-content><figure id="scatter"></figure></mat-card-content>
</mat-card>
