
    <mat-toolbar class="mat-toolbar">
        <span>Tampa Bay Rays</span>
      </mat-toolbar>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Hitters">
            <ng-template matTabContent>
                <app-player playerType="hitters" itemSize="15"></app-player>
            </ng-template>
        </mat-tab>
        <mat-tab label="Pitchers">
            <ng-template matTabContent>
                <app-player playerType="pitchers" itemSize="5"></app-player>
            </ng-template>
        </mat-tab>
      </mat-tab-group>

